ml, body {
    width: 100%;
    height: 100%;
   }

.wrapper{
    height: 100%;
    justify-content: center;
    background-color: rgb(255, 100, 100);
    padding: 1%;
    overflow-y: auto;
}

.but{
}


.error{
    color: red;
}